package home

import (
    "lommeulken/cmd/web/layout"
)

templ Index() {
    @layout.Index(true) {
        @Hero()
        <section class="p-4">
          <h2 class="text-skin-base font-semibold text-lg mb-2">Seneste fangster</h2>
          <p class="text-skin-muted">Endnu ingen fangster</p>
        </section>
    }
}
