package layout

templ Index(nav bool) {
<!DOCTYPE html>
<html lang="da">

<head>
  <meta charset="utf-8" />
  <title>Lommeulken</title>
  <link href="assets/css/output.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="assets/js/htmx.min.js"></script>
</head>

<body class="bg-skin-fill text-skin-base">
  if nav {
  @Header()
  }
  { children... }
  <script src="/assets/js/theme.js"></script>
</body>

</html>
}
