package web

templ ButtonLink(text, link string) {
	<a href={ templ.URL(link) } class="whitespace-nowrap rounded-sm bg-black border border-black px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 transition hover:opacity-75 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75 dark:border-white dark:bg-white dark:text-black dark:focus-visible:outline-white" role="button">{ text }</a>
}
